.new-input {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.input-text{
  width: 70%;
}

.input-confirm-button {
  flex: 1;
  background-color: royalblue;
  color: white;
  width: 20%;
  margin-left: 20px;
}